*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.container{
    max-width: 1127px;
    margin: 0 auto;
}
input{
    padding-left: 10px;
    outline: none;
}